// == Les Couleurs == // 

$color-primary: #114d4d;
$color-secondary: #C21632;
$color-hover: #49ada1;
$color-white: #fff;
$color-black: #000;
$color-grey: #C4C4C4;
$color-tomato:tomato;

// == Les Fonts == //

$font-family-grace: 'Covered By Your Grace', cursive;