// == Header == //

.header {
    @include flex(row, center, center);
    padding: 2rem 5rem;

    &-logo {
        @include flex(row, none, center);
        flex: 1.4;
        
        div {
            margin-left: 1rem;
        }

        &-title {
            font-size: 1.2rem;
            text-align: center;
        }
    }

    &-menu {
        flex: 2;
        ul {
            @include flex(row, none, center);

            li {
                margin: 0 1rem;
                
                a {
                    position: relative;
                    font-size: 1.1rem;
                    font-weight: bold;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -10%;
                        left: 0%;
                        width: 0%;
                        height: 2px;
                        background-color: $color-hover;
                        transition: all 250ms ease-in;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }

            .icon-mobile {
                display: none;
            }
        }
    }

    &-mobilenav {
        display: none;
    }

    .close-mobilenav {
        display: none;
    }

    &-icon {
        @include flex(row, center, flex-end);

        i {
            font-size: 2rem;
            cursor: pointer;
            transition: all 250ms ease-in;

            &:hover {
                color: $color-hover;
            }
        }

        #clock {
            margin-right: 1rem;
            font-weight: bold;
        }
    }
}

// == Media Query == //
@media screen and (max-width: 1024px) {
    .header {
        &-logo {
            &-img {
                width: 20%;
            }

            // &-title {

            // }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
        justify-content: space-between;
        
        &-logo {
            flex: initial
        }


        &-mobilenav {
            @include flex(column, none, center);
            

            div {
                width: 40px;
                height: 5px;
                margin: .3rem;
                border-radius: 5px;
                background: #000;
            }

        }

        .close-mobilenav {
            font-size: 3rem;
        }

        .active {
            height: 150%;
            background: $color-white;
            border-top: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
        }
        
        &-menu {
            flex: initial;
            position: absolute;
            overflow: hidden;
            height: 0%;
            top: 100%;
            left: 0%;
            width: 100%;
            z-index: 9999;
            transition: all 250ms ease-out;
            
            ul {
                flex-direction: column;
                text-align: center;

                .icon-mobile {
                    display: initial;
                    font-size: 1.5rem;
                }
                
                li {
                    width: 100%;
                    margin: .5rem 0rem;
                    
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        &-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 1.5rem;

        &-logo {
            div {
                margin-left: 5px;
            }

            &-title {
                font-size: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }

        &-mobilenav {
            div {
                width: 35px;
                height: 4px;
                margin: 0.2rem;
            }
        }

        .close-mobilenav {
            font-size: 2.5rem;
        }

        .active {
            height: 200%;
        }
    }
}

@media screen and (max-width: 320px) {
    
}